.agent_container{
    height: 70vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;

}


.agent_info_section{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    /* box-shadow: -11px -11px 100px black; */
    box-shadow:  0 12px 28px rgba(0, 0, 0, 0.08);


}

.agent_image_wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}


.agent_image_section{
    height: 100%;
    width: 100%;

    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(223, 223, 223);
   
}

.agent_image_section_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    /* object-position: 80%; */
    
}

.agent_image_section_check{
    position: absolute;
    bottom: 10px;
    right: 15px;
    height: 2rem;
    width: 2rem;
    background-color: #00CE56;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.agent_general_information{
    flex : 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.agent_general_information_title{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
}

.agent_general_information_position{
    font-size: 0.9rem;
    color: var(--red);
    font-weight: 700;
}

.agent_general_information_about{
    width: 90%;
    font-size: 0.95rem;
    color:var(--grey);
    padding-bottom: 2rem;
}

.agent_general_information_service{
    display: flex;
    gap: 2rem;
}

.agent_general_information_service div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.agent_general_information_service_check{
    display: flex;
    align-items: center;
}

.agent_code{
  padding-top: 0.4rem ;
  font-size: 0.8rem;
  color: var(--grey);
  font-weight: 600;
}


@media (max-width: 1024px) {

  .agent_container {
    height: auto;
    padding: 4rem 2rem;
  }

  .agent_info_section {
    width: 85%;
    height: auto;
  }

  .agent_general_information_about {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .agent_container {
    height: auto;
    padding: 3rem 1.5rem;
  }

  .agent_info_section {
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    gap: 1.5rem;
  }

  /* IMAGE */
  .agent_image_wrapper {
    width: 150px;
    height: 150px;
  }

  .agent_image_section > img{
    height: 150px;
  }

  .agent_image_section {
    border-width: 4px;
  }

  /* TEXT */
  .agent_general_information {
    align-items: center;
  }

  .agent_general_information_title {
    font-size: 1.3rem;
  }

  .agent_general_information_about {
    font-size: 0.9rem;
    padding-bottom: 1.2rem;
    text-align: center;
  }

  /* SERVICES */
  .agent_general_information_service {
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

.agent_image_section {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(223, 223, 223);
}

.agent_image_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

}

@media (max-width: 480px) {

  .agent_image_wrapper {
    width: 130px;
    height: 130px;
  }

  .agent_general_information_title {
    font-size: 1.2rem;
  }

  .agent_general_information_position {
    font-size: 0.85rem;
  }

  .agent_general_information_about {
    font-size: 0.85rem;
  }
}
