

.viewplans_container{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.view_plans_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.view_plans_text_title{
    font-size: 2rem;
    font-size: clamp(1.4rem,  4vw, 2rem);
    font-weight: 600;
}

.view_plans_text_desc{
    font-size: 0.9rem;
    color: var(--grey);
}

.view_plans_coverage{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


.plan_card{
    background-color: var(--blue);

    padding: clamp(1.5rem , 3vw, 3rem);
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.24);
}

.plan_card {
    box-sizing: border-box;
}

.plan_card {
    border: 1.5px solid rgba(128, 128, 128, 0.24);
}

.plan_card_Optima_Super_Secure {
    border-color: #FFD700;
}

.plan_logo{
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 4px var(--grey);
}

.plan_title{
    /* font-size: 1.1rem; */
    font-weight: 600;
    margin-bottom: 10px;
}


.plan_selling_point{
    color: var(--red);
    font-size: 0.8rem;
    font-weight: 600;
}

.agent_general_information_service_check{
    display: flex;
    align-items: center;
}

.beni_item{
    display: flex;
    gap: 1rem;
}

.plan_benifits{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.plan_text_section{
    margin-bottom: 0.8rem;
}


.plan_buttons{
    width: 100%;
    background-color: var(--blue);
    padding: 1rem;
    /* border: 2px solid rgb(215, 215, 255); */
    border: 2px solid rgba(19, 14, 14, 0.536);
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;

}



.plan_buttons:hover{
    background-color: var(--red);

}



.plan_buttons:hover a{
   color: white;

}


.plan_card:hover{
    box-shadow: 1px 1px 0px var(--red);
}


@media (max-width : 768px) {

    .view_plans_text{
        padding: 1rem 0;
    }

    .view_plans_coverage{
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .plan_card{
        max-width: 90%;
    }
    
}

@media (max-width : 480px) {

    .view_plans_text_title{
        border-bottom: 1px solid var(--red);
    }

    .view_plans_text{
        padding: 1rem;
        margin-top: 1rem ;

    }

    .view_plans_text_desc{
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .plan_benifits{
        gap: 0.7rem;
    }

    .beni_item{
        font-size: 0.85rem;
    }
    
}